html, body{
    width: 100%;
    height: 100%;
}
/* Importing Fonts */
@font-face {
    font-family: Fairview;
    src: url("../fonts/Fairview_Regular.otf") format("opentype");
}
#maincontainer{
    padding: 0px;
}
.jordanpoles{
    font-size: 76pt;
}
.text3d{
    /* Not currently being used */
    color: rgb(255, 255, 255);
    font-size: 64px;
    text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
}
/* Shadow Z-Index setup */
#greeter{
    margin-top: 0px !important;
    padding: 40px;
    z-index: 10;
}
#projects{
    z-index: 9;
}
#extracurricular{
    z-index: 8;
}
#work{
    z-index: 7;
}
#research{
    z-index: 6;
}
#abstracts{
    z-index: 5;
}
#publications{
    z-index: 4;
}
#grants{
    z-index: 3;
}
#footer{
    padding: 15px;
    background-color: #000;
    color: #ffffff;
    z-index: 10;
    font-size: 10pt;
}
#footer a{
    color: #ffcc33;
}
/* Navigation Bar */
.navbar-transparent {
    background-color: rgba(51, 51, 51, .85);
}
.navbar-brand a{
    text-decoration: none;
    color: #ffcc33;
}
.navbar-transparent li a{
    color: #FFF;
    font-weight: bold;
}
.navbar-transparent li:hover a{
    color: #333;
    background-color: #ffcc33;
    font-weight: bold;
    border: none;
    border-radius: 0px;
}
/* Setup theme */
.noisy{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    /*border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;*/
    text-align: center;
    background-image: url(../img/noise.png)
}
#greeter a, .darkwell a{
    color: #ffcc33;
}
.well a{
    /*background-color: #333;
    color: #ffcc33;
    padding: 5px;
    border-radius: 10px;*/
    color: #1b6d85;
    font-weight: bold;
}
h1{
    font-size: 54pt;
}
/* Light theme */
.light{
    background-color: #fff;
    color: #333;
    box-shadow: inset 0px 0px 20px black;
}
.well{
    border-radius: 10px;
    background-color: #e7e7e7;
    border-color: #d1d1d1;
    box-shadow: inset 0px 0px 30px rgba(0,0,0,.1);
}
.well h1{
    color: #333;
}
.light hr{
    border-top: 1px solid #333;
}
/* Dark Theme */
.dark{
    background-color: #333;
    color: #FFF;
}

.darkwell {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #333;
    border: 1px solid #232323;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,.4);
    color: #FFF;
}
.darkwell h2, .darkwell h1{
    color: #FFF;
}
.darkwell li, .well li{
    font-size: 14pt;
    margin-bottom: 4px;
}
.darkwell hr{
    border-top: 1px solid #FFF;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Circular Images */
.circimg{
    border: 4px solid black;
}
.well .projimg{
    border: 2px solid #000000;
    border: 1px solid #1a1a1a;

}
.darkwell .projimg{
    border: 2px solid #FFF;
    border: 1px solid #dadada;
}
.workimg{
    border: 2px solid black;
    max-width: 160px; max-height: 160px; margin: auto;
    box-shadow: inset 0 0 10px #000000;
}
/* Modal */
#hopemodal{
    width: 90%;
    padding: 50px;
    border-radius: 25px;
    background-color: #222222;
    color: #FFFFFF;
}
/* Misc. */
.eddetails{
    font-weight: normal;
    text-align: left;
    font-size: 16pt;
    list-style-type: none;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.projimg{
    width: 350px; height: 350px;
}
@media (min-width: 1000px) {
    .horizcells {
        padding-left: 3%;
        padding-right: 3%;
    }
    .vertical-align {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .smallworkdiv{
        display: block !important;
    }
    h2{
        font-size: 20px !important;
    }
    .projimg{
        width: 300px; height: 300px;
    }
}

.row{
    font-weight: normal;
    list-style-position:inside;
}
#educationcontainer{
    border-spacing: 40px;
    border-collapse: separate;
}
#educationcontainer td{
    vertical-align: top;
}
#pubcontainer, #abstractcontainer, #researchcontainer, #grantcontainer{
    border-spacing: 30px;
    border-collapse: separate;
}
#educationcontainer td, #pubcontainer td, #abstractcontainer td, #researchcontainer td, #grantcontainer td{
    border: none;
    font-weight: normal;
}
#abstractcontainer h3{
    font-size: 24px;
}
#abstractcontainer h4{
    font-size: 20px;
}
/* Projects Section */
#projectsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#projectsContainer div{
    flex-basis: 1;
}
#projectsContainer a{
    color: #333;
}
.light .sectionToggle{
    cursor: pointer;
    color: #444;
    text-decoration: none;
}
.light .sectionToggle:hover{
    cursor: pointer;
    color: #444;
    text-decoration: none;
}
.dark .sectionToggle{
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}
.dark .sectionToggle:hover {
    cursor: pointer;
    color: #FFF;
    text-decoration: none;
}
.nav-tabs>li>a{
    border-radius: 0px !important;
}
#projectsContainer{
    font-size: 24px;
}
#projectsContainer hr{
    margin-top: 15px;
    margin-bottom: 15px;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.slick-dots{
    left: 0px;
}
.slickarrow{
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    z-index: 1;
}
.slickarrow:hover{
    background-color: rgba(10, 10, 10, .5);
    text-decoration: none !important;
}