#maincontainer{
    padding: 0px;
}
#greeter{
    margin-top: 0px !important;
    padding: 40px;
    z-index: 10;
}
#greeter a{
    color: #FFCC33;
}
h1{
    font-size: 54pt;
}
h2{
    font-size: 22pt;
}
.light{
    margin-top: -25px;
    background-color: #FFF;
    color: #333;
}
.dark{
    background-color: #333;
    color: #FFF;
}
.noisy{
    padding: 20px;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
    background-image: url('../img/noise.png');
}