<style>
  table{
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }
  tr{
    border-top: 1px solid #ccc;
  }
  td{
    min-width: 250px;
    padding: 20px 10px 20px 10px;
  }
  ul{
    text-align: left;
  }
</style>
<h2>Education</h2>
<table>
  <tr>
    <td>
      <b>Rice University</b><br>
      Houston, TX<br>
      <i>2013 - Present</i>
    </td>
    <td><ul>
      <li>Major: Biological Sciences</li>
      <li>Minor: Poverty, Justice, and Human Capabilities</li>
      <li>Minor: Statistics</li>
      <li>GPA: 3.95</li>
    </ul></td>
  </tr>
  <tr>
    <td>
      <b>Horace Greeley High School</b><br>
      Chappaqua, NY<br>
      <i>2009 - 2013</i>
    </td>
    <td><ul>
      <li>GPA: 3.8</li>
      <li>Science GPA: 4.1</li>
      <li>Advanced Placement Courses: 5</li>
    </ul></td>
  </tr>
</table>
