<h2>Education</h2>
<table>
  <tr>
    <td>
      <b>Rice University</b><br>
      Houston, TX<br>
      <i>2013 - Present</i>
    </td>
    <td style="padding-bottom: 0px;">
      <table>
        <tr>
          <td>GPA: 3.95</td>
          <td>Major: Biological Sciences</td>
        </tr>
        <tr>
          <td>Minor: Poverty, Justice, and Human Capabilities</td>
          <td>Minor: Statistics</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <b>Horace Greeley High School</b><br>
      Chappaqua, NY<br>
      <i>2009 - 2013</i>
    </td>
    <td>
      <table>
        <tr>
          <td>GPA: 3.8</td>
          <td>Science GPA: 4.1</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
