<h2>Education</h2>
<table>
  <tr>
    <td style="line-height: 140%;">
      <b>NYU School of Medicine</b><br>
      New York, NY<br>
      <i>2017 - Present</i>
    </td>
    <td style="padding-bottom: 0px;">
      <table>
        <tr style="border: none !important;">
          <td width="200">Three Year Accelerated MD Program</td>
          <td width="200">Future Resident in Internal Medicine</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="line-height: 140%;">
      <b>Rice University</b><br>
      Houston, TX<br>
      <i>2013 - 2017</i>
    </td>
    <td style="padding-bottom: 0px;">
      <table>
        <tr style="border: none !important;">
          <td width="200">GPA: 3.95</td>
          <td width="200">Major: Biological Sciences</td>
        </tr>
        <tr>
          <td width="200">Minor: Poverty, Justice, and Human Capabilities</td>
          <td width="200">Minor: Statistics</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="line-height: 140%;">
      <b>Horace Greeley High School</b><br>
      Chappaqua, NY<br>
      <i>2009 - 2013</i>
    </td>
    <td>
      <table>
        <tr style="border: none !important;">
          <td width="200">GPA: 3.8</td>
          <td width="200">Science GPA: 4.1</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
