<h2>Education</h2>
<table>
  <tr>
    <td style="line-height: 140%;">
      <b>NYU Internal Medicine</b><br>
      New York, NY<br>
      <i>July 2020 - June 2023</i>
    </td>
    <td style="padding: 0px;">
      <table>
        <tr style="border: none !important;">
          <td width="200">Bellevue categorical residency track</td>
          <td width="200">Bellevue primary care physician</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="line-height: 140%;">
      <b>NYU School of Medicine</b><br>
      New York, NY<br>
      <i>June 2017 - May 2020</i>
    </td>
    <td style="padding: 0px;">
      <table>
        <tr style="border: none !important;">
          <td width="200">Three year accelerated MD program</td>
          <td width="200">Accepted to NYU residency in Internal Medicine</td>
        </tr>
        <tr>
          <td colspan="2">Graduated with Martin S. Nachbar Award for innovation and excellence in applying technology and informatics to medical education</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td style="line-height: 140%;">
      <b>Rice University</b><br>
      Houston, TX<br>
      <i>June 2013 - May 2017</i>
    </td>
    <td style="padding: 0px;">
      <table>
        <tr style="border: none !important;">
          <td width="200">GPA: 3.92</td>
          <td width="200">Major: Biological Sciences</td>
        </tr>
        <tr>
          <td width="200">Minor: Poverty, Justice, and Human Capabilities</td>
          <td width="200">Minor: Statistics</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr hidden>
    <td style="line-height: 140%;">
      <b>Horace Greeley High School</b><br>
      Chappaqua, NY<br>
      <i>2009 - 2013</i>
    </td>
    <td>
      <table>
        <tr style="border: none !important;">
          <td width="200">GPA: 3.8</td>
          <td width="200">Science GPA: 4.1</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<style scoped>
  td {
    font-size: 80%;
    padding: 14px;
  }
</style>
