<h2>{{SectionTitle}}</h2>
<table>
  {{#each entries}}
    <tr>
      <td style="text-align: left; padding: 20px 15px 20px 15px; font-size: 14px;">
        <b>{{Title}}</b>
        <br>
        {{Name}}
      </td>
      <td style="text-align: right;">
        {{Duration}}
      </td>
    </tr>
  {{/each}}
</table>
